.banner {
    height: 100vh;
    width: 99.2vw;
    background-image: url(/src/public/img/Header.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px 0;
}
.banner_descr{
    height: 50%;
    margin-top: 140px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
}
h1 {
    color: white;
    max-width: 768px;
    font-weight: lighter;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.btn_banner {
    background-color: white;
    border-radius: 36px;
    padding: 12px 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}