@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #FFF0F7;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

button {
    border: none;
    cursor: pointer;
    font-weight: bold;
}

section {
    margin: 80px 2.7vw;
}

h2 {
    font-weight: 300;
    font-size: 46px;
    line-height: 120%;

}

p {
    font-size: 16px;
}

em {
    font-style: italic;
}