.sect_descr {
    display: flex;
    align-items: center;
}

.img_rose {
    height: 738px;
    width: 50%;
    object-fit: cover;
    border-radius: 16px;
}

.block_descr {
    margin-left: 280px;
    width: 368px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.btn {
    background-color: #ABB249;
    padding: 12px 120px;
    border-radius: 32px;
}