.footer{
    background-color: #DD6249;
    padding: 80px 40px;
    margin: 40px 2.7vw;
    border-radius: 16px;
    color: white;
    font-weight: 300;
}

  
  .footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    align-items: flex-start;
  }
  
  
  .footer_subtitle {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .footer em {
    font-weight: bold;
    margin-right: 3px;
  }
  
  .footer_form {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
  }
  
  .footer_input {
    padding: 10px 16px;
    border-radius: 16px;
    border: none;
  }
  
  .footer_btn {
    padding: 10px 20px;
    border-radius: 16px;
    background: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.14em;
  }
  
  .footer_cols {
    display: flex;
    gap: 64px;
  }
  
  .footer_col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 127px;
  }
  
  .footer_col_title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 300;
  }
  
  .footer_col a {
    color: white;
  }
  
  .footer_col a:hover {
    text-decoration: underline;
  }
  
.footer_img{
    width: 100%;
    margin: 80px 0;
}

  .footer_bottom {
    display: flex;
    justify-content: space-between;
  }
  