.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
    padding: 20px 40px;
    margin: 25px 2vw;
}
.nav{
    display: flex;
    gap: 25px;
    align-items: center;
}
.nav a{
    font-weight: bold;
    font-size: 16px;
}